.btn-huy {
  cursor: pointer;
}

.content {
  width: 80%;
  margin: 0 auto;
}

.danhSachGhe {
  width: 56%;
  margin: 0 auto;
}

.gheContent {
  padding: 0 20px;
}

.taiXe {
  font-size: 20px;
  background: #ccc;
  font-weight: bold;
  text-align: center;
  padding: 5px 0;
}

.rowGhe {
  border-right: 1px solid #ccc;
}