.ghe {
  background-color: gray;
  width: 43px;
  margin: 3px;
  color: white;
}

.gheDangChon {
  background-color: green;
}

.gheDuocChon {
  background: pink;
  cursor: not-allowed;
  pointer-events: none;
}